//variables

$brand-red : #ef2731;
$color-white: #fff;
$color-black: #000;

input, .form-control{ outline: none;
	&:focus{
		box-shadow: none;
	}
 }
 
body{ font-family: 'Roboto', sans-serif; background-color: $color-black;}
 
.btn{ border-radius: 0.5rem; }
.red-btn-bg{ background-color: $brand-red; }
.no-left-radius{     border-top-left-radius: 0 !important;    border-bottom-left-radius: 0 !important; }
.no-right-radius{     border-top-right-radius: 0 !important;    border-bottom-right-radius: 0 !important; }
.font-tiny{font-size: 0.7rem;}
.font-small{font-size: 0.8rem;}
.line-normal {line-height: normal}
.mdl-textfield .mdl-textfield__label__icon {
   position: absolute;
   right: 0;
   top: 20px;
}


.container{ width: 650px; margin: 0 auto; padding: 50px;
background: rgba(113,153,218,1);
background: -moz-linear-gradient(left, rgba(113,153,218,1) 0%, rgba(72,204,219,1) 70%, rgba(72,204,219,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(113,153,218,1)), color-stop(70%, rgba(72,204,219,1)), color-stop(100%, rgba(72,204,219,1)));
background: -webkit-linear-gradient(left, rgba(113,153,218,1) 0%, rgba(72,204,219,1) 70%, rgba(72,204,219,1) 100%);
background: -o-linear-gradient(left, rgba(113,153,218,1) 0%, rgba(72,204,219,1) 70%, rgba(72,204,219,1) 100%);
background: -ms-linear-gradient(left, rgba(113,153,218,1) 0%, rgba(72,204,219,1) 70%, rgba(72,204,219,1) 100%);
background: linear-gradient(to right, rgba(113,153,218,1) 0%, rgba(72,204,219,1) 70%, rgba(72,204,219,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7199da', endColorstr='#48ccdb', GradientType=1 );

    position: absolute;
	left: 50%;
	top:50%;
    transform: translate(-50%, -50%);
 }




.flex-container {
  display: flex;     align-items: stretch;  
}

.flex-1{ flex: 1; padding: 0 10px;}
.flex-2{ flex: 2; padding: 0 10px;}
.flex-3{ flex: 3; padding: 0 10px;}
.flex-4{ flex: 4; padding: 0 10px;}
.flex-5{ flex: 5; padding: 0 10px;}
.flex-6{ flex: 6; padding: 0 10px;}
.flex-7{ flex: 7; padding: 0 10px;}
.flex-8{ flex: 8; padding: 0 10px;}
.flex-9{ flex: 9; padding: 0 10px;}
.flex-10{ flex: 10; padding: 0 10px;}
.flex-11{ flex: 11; padding: 0 10px;}
.flex-12{ flex: 12; padding: 0 10px;}



.payment-wrapper{
	justify-content: center;
  align-items: center;
  
  background-color: #0369bb;
  
  display:flex;
}
.prev-step-wrapper{	
    padding: 10px;
    background-color: #0369bb;
    transform: skewX(-15deg);
    position: relative;
    left: 10%;
    align-self: stretch;
	
	.content{
		color: $color-white;
		transform: skewX(15deg);	
			h6{
				position: relative;
				right: 50%;
				font-size: 12px;
	
				i{
					position: relative;
					top: 5px;
					margin-right: 10px;
					color: #fff;
					font-size: 18px;
				}
			}		
			
	}
}

.pay-details-wrapper{	
	padding: 10px;
	background-color: #fff;
	
	.content{
		position: relative;
		left: 10%;
		width: 70%;
		margin: 0 auto;
		
		.form-title{ font-weight: 500; font-size: 26px;}
		
		.payment-form{
			.mdl-textfield{
				width: 100%;
			}
			.save-details{
				margin-bottom: 40px;
				
				i{
					position: relative;
					top: 5px;
					margin-right: 10px;
					color: #a7d487;
				}
			}
			.pay-now{
				background-color: #0369bb;
				color: #fff;
				width: 100%;
				border: none;
				padding: 10px;
				font-size: 20px;
				font-weight: 700;
				position: absolute;
				border-radius: 5px;
				    bottom: -10%;
			}
		}
	}
}

.display-card{
	width: 250px;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 #333;

	background: rgba(64,224,242,1);
	background: -moz-linear-gradient(left, rgba(64,224,242,1) 0%, rgba(3,146,203,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(64,224,242,1)), color-stop(100%, rgba(3,146,203,1)));
	background: -webkit-linear-gradient(left, rgba(64,224,242,1) 0%, rgba(3,146,203,1) 100%);
	background: -o-linear-gradient(left, rgba(64,224,242,1) 0%, rgba(3,146,203,1) 100%);
	background: -ms-linear-gradient(left, rgba(64,224,242,1) 0%, rgba(3,146,203,1) 100%);
	background: linear-gradient(to right, rgba(64,224,242,1) 0%, rgba(3,146,203,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40e0f2', endColorstr='#0392cb', GradientType=1 );
	
	.card-logo{
		img{
		width: 40px;
		position: relative;
		left: 85%;
		}
	}
	
	.gold-chip{
		img{
		width: 30px;
		transform: rotate(90deg);
		}
	}
	
	.card-num-format{
		margin: 10px 0;
		color: #fff;
		font-size: 16px;
		.mask{ margin-right: 10px;
			i{ font-size: 8px; }
		}
	}
}







